{% extends 'adminlte/base.html' %}

{% block content %}
    <h1>Página de listagem de atendente</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_atendente' %}"><i class="fa fa-plus"></i> CADASTRAR ATENDENTE</a>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>SOBRENOME</th>
            <th>EMAIL DO ATENDENTE</th>
            <th>CPF</th>
            <th>GENERO</th>
            <th>POSSUI COMORBIDADE</th>
            <th>TELEFONE</th>
            <th>DATA DE NASCIMENTO</th>
            <th>ENDEREÇO</th>
            <th>OBSERVAÇÃO</th>

        </thead>
        <tbody>
    {% for obj_atendente in object_list %}
            <tr>
                <td>{{obj_atendente.pk}}</td>
                {% if obj_atendente.nome|length > 30 %}
                <td>{{obj_atendente.nome|slice:":30"}}...</td>
                {% else %}
                <td>{{obj_atendente.nome|slice:":30"}}</td>
                {% endif %}
                <td>{{obj_atendente.sobrenome}}</td>
                <td>{{obj_atendente.email_atendente}}</td>
                <td>{{obj_atendente.cpf}}</td>
                <td>{{obj_atendente.genero}}</td>
                <td>{{obj_atendente.possui_comorbidade}}</td>
                <td>{{obj_atendente.telefone}}</td>
                <td>{{obj_atendente.data_nascimento}}</td>
                <td>{{obj_atendente.endereco}}</td>
                <td>{{obj_atendente.observacao}}</td>

                <td>
                    <a href="{% url 'corrigir_atendente' obj_venda.pk %}"><i class="fa fa-edit" rel="tooltip" title="Editar Atendente"></i></a>
                    <a href="{% url 'atualizar_endereco-atendente' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Endereço"></i></a>
                    <a href="{% url 'atualizar_foto_atendente' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Foto"></i></a>
                    {% if obj_atendente.excluido is False %}
                    <a class="desabilitar_atendente" data-url="{% url 'ajax_desabilitar_atendente' obj_atendente.pk %}" href="#"><i class="fa fa-times" rel="tooltip" title="Desabilitar Venda"></i></a>
                    {% else %}
                    <a class="habilitar_atendente" data-url="{% url 'ajax_habilitar_atendente' obj_atendente.pk %}" href="#"><i class="fa fa-check" rel="tooltip" title="Habilitar Venda"></i></a>
                    {% endif %}
                </td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui vendas cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function() {
            // Vai ser executado apenas após a página estar pronta. Ou seja, carregada.

            // Clicando no ícone de desabilitar
            $(".desabilitar_atendente").click(function() {
                //Capturando o valor da propriedate "data-url" que está na tag do ícone com a classe "desabilitar-venda"
                var url = $(this).attr('data-url');

                //Abrindo o nosso modal (popup) do SweetAlert com as opções de "confirmação de açao" e "cancelar ação"
                swal({
                  title: "Desabilitar Atendente",
                  text: "Tem certeza que deseja desabilitar este atendente?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {

                    //Se clicar na ação de confirmar a deleção, irá iniciar o AJAX
                    $.ajax({
                        url: url,
                        success: function (data) {

                            //No sucesso do AJAX, irá exibir uma modal com SweetAlert informando que a desabilitação foi realizada com sucesso
                            swal("Atendente desabilitado com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });

                            //Recarregando a página
                            location.reload();
                        }
                    });

                  } else {

                    //Exibindo o SweetAlert caso o usuário cancele a ação
                    swal("Ação cancelada...");
                  }
                });
            });

            //Clicando no ícone de habilitar
            $(".habilitar_atendente").click(function() {
                var url = $(this).attr('data-url');
                swal({
                  title: "Habilitar Venda",
                  text: "Tem certeza que deseja habilitar esta venda?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    $.ajax({
                        url: url,
                        success: function (data) {
                            swal("Atendente habilitado com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });
                            location.reload();
                        }
                    });

                  } else {
                    swal("Ação cancelada...");
                  }
                });
            });

        });
    </script>

{% endblock %}