{% extends 'adminlte/base.html' %}
{% block content %}
    <h1>LISTAGEM DOS CLIENTES</h1>
    <a href="{% url 'cliente' %}">CADASTRAR CLIENTE</a>

    <table>
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>CPF</th>
            <th>ENDEREÇO</th>
            <th>DATA DE NASCIMENTO</th>
            <th>CIDADE</th>
            <th>CEP</th>
            <th>EMAIL</th>
            <th>TELEFONE</th>
        </thead>
        <tbody>
    {% for obj_cliente in object_cliente %}
            <tr>
                <td>{{obj_produto.pk}}</td>
                <td>{{obj_produto.nome}}</td>
                <td>{{obj_produto.cpf}}</td>
                <td>{{obj_produto.endere}}</td>
                <td>{{obj_produto.data_de_nascimento}}</td>
                <td>{{obj_produto.cidade}}</td>
                <td>{{obj_produto.cep}}</td>
                <td>{{obj_produto.email_Cliente}}</td>
                <td>{{obj_produto.tel}}</td>

                <td><a href="{% url 'atualizar_cliente' obj_cliente.pk %}">ATUALIZAR</a></td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui clientes cadastrados em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira Página |</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}