{% extends 'adminlte/base.html' %}

{% block content %}
    <h1>Página de listagem de atendente</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_pedido' %}"><i class="fa fa-plus"></i> CADASTRAR ATENDENTE</a>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NOME DO CLIENTE</th>
            <th>BEBIDA</th>
            <th>HAMBURGUER</th>
            <th>PIZZA</th>
            <th>PASSAPORTE</th>
            <th>PASTEL</th>
            <th>LOCAL DE ENTREGA</th>
            <th>OBSERVAÇÃO</th>

        </thead>
        <tbody>
    {% for obj_pedido in object_list %}
            <tr>
                <td>{{obj_pedido.pk}}</td>
                {% if obj_pedido.nome_cliente|length > 30 %}
                <td>{{obj_pedido.nome_cliente|slice:":30"}}...</td>
                {% else %}
                <td>{{obj_pedido.nome_cliente|slice:":30"}}</td>
                {% endif %}
                <td>{{obj_pedido.bebida}}</td>
                <td>{{obj_pedido.hamburguer}}</td>
                <td>{{obj_pedido.pizza}}</td>
                <td>{{obj_pedido.passaporte}}</td>
                <td>{{obj_pedido.pastel}}</td>
                <td>{{obj_pedido.local_de_entrega}}</td>
                <td>{{obj_pedido.observacao}}</td>

                <td>
                    <a href="{% url 'corrigir_pedido' obj_pedido.pk %}"><i class="fa fa-edit" rel="tooltip" title="Editar Pedido"></i></a>
                    <a href="{% url 'atualizar_local_de_entrega_pedido' obj_pedido.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Local de Entrega"></i></a>
                    <a href="{% url 'atualizar_cliente_pedido' obj_pedido.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Cliente "></i></a>
                    {% if obj_pedido.excluido is False %}
                    <a class="desabilitar_pedido" data-url="{% url 'ajax_desabilitar_pedido' obj_pedido.pk %}" href="#"><i class="fa fa-times" rel="tooltip" title="Desabilitar Pedido"></i></a>
                    {% else %}
                    <a class="habilitar_pedido" data-url="{% url 'ajax_habilitar_pedido' obj_pedido.pk %}" href="#"><i class="fa fa-check" rel="tooltip" title="Habilitar Pedido"></i></a>
                    {% endif %}
                </td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui vendas cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function() {
            // Vai ser executado apenas após a página estar pronta. Ou seja, carregada.

            // Clicando no ícone de desabilitar
            $(".desabilitar_pedido").click(function() {
                //Capturando o valor da propriedate "data-url" que está na tag do ícone com a classe "desabilitar-venda"
                var url = $(this).attr('data-url');

                //Abrindo o nosso modal (popup) do SweetAlert com as opções de "confirmação de açao" e "cancelar ação"
                swal({
                  title: "Desabilitar Pedido",
                  text: "Tem certeza que deseja desabilitar este pedido?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {

                    //Se clicar na ação de confirmar a deleção, irá iniciar o AJAX
                    $.ajax({
                        url: url,
                        success: function (data) {

                            //No sucesso do AJAX, irá exibir uma modal com SweetAlert informando que a desabilitação foi realizada com sucesso
                            swal("Pedido desabilitado com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });

                            //Recarregando a página
                            location.reload();
                        }
                    });

                  } else {

                    //Exibindo o SweetAlert caso o usuário cancele a ação
                    swal("Ação cancelada...");
                  }
                });
            });

            //Clicando no ícone de habilitar
            $(".habilitar-venda").click(function() {
                var url = $(this).attr('data-url');
                swal({
                  title: "Habilitar Pedido",
                  text: "Tem certeza que deseja habilitar este pedido?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    $.ajax({
                        url: url,
                        success: function (data) {
                            swal("Pedido habilitado com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });
                            location.reload();
                        }
                    });

                  } else {
                    swal("Ação cancelada...");
                  }
                });
            });

        });
    </script>

{% endblock %}