{% extends 'adminlte/base.html' %}
{% block content %}
    <h1>LISTAGEM DOS FORNECEDORES</h1>
    <a href="{% url 'cadastrar_fornecedor' %}">CADASTRAR FORNECEDOR</a>

    <table>
        <thead>
            <th>ID</th>
            <th>NOME DA EMPRESA</th>
            <th>ENDEREÇO</th>
            <th>CEP</th>
            <th>CNPJ</th>
            <th>RAMO DE ATUAÇÃO</th>
            <th>EMAIL DA EMPRESA</th>
            <th>CATEGORIA</th>
            <th>TELEFONE</th>
        </thead>
        <tbody>
    {% for obj_fornecedor in object_fornecedor %}
            <tr>
                <td>{{obj_produto.pk}}</td>
                <td>{{obj_produto.nome_empresa}}</td>
                <td>{{obj_produto.endere}}</td>
                <td>{{obj_produto.cep}}</td>
                <td>{{obj_produto.cnpj}}</td>
                <td>{{obj_produto.ramo_atuacao}}</td>
                <td>{{obj_produto.email_empresa}}</td>
                <td>{{obj_produto.categoria_CHOICE}}</td>
                <td>{{obj_produto.telefone}}</td>

                <td><a href="{% url 'atualizar_fornecedor' obj_fornecedor.pk %}">ATUALIZAR</a></td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui clientes cadastrados em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira Página |</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}